/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 

}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	.navbar {
		background: #222;
	}
	.navbar-nav {
		width: auto;
	}

	.navbar-inverse .navbar-toggle {
		border: none;
	}
}

/* Landscape phones and down */
@media (max-width: 480px) {
	.navbar-nav > li {
		display: inline;
	}
	.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
		border: none;
	}
}