body {
    font-family: "Roboto",Helvetica,Arial,sans-serif;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Museo';
	src: url('../fonts/Museo700.ttf') format('truetype');
}

a, button{
  -webkit-transition: color 300ms, background-color 300ms;
  -moz-transition: color 300ms, background-color 300ms;
  -o-transition:  color 300ms, background-color 300ms;
  transition:  color 300ms, background-color 300ms;
}

hr {
	margin: 0px;
	border-top: 1px solid #B2B2B2;
}


/*jumbotron*/
.jumbotron {
	background: url(../img/about-bg.jpg) no-repeat center;
	background-size: cover;
	height: 100%;
	padding: 0px;
	margin: 0px;
}


/*center navbar*/
.navbar-nav {
	width: 100%;
	text-align: center;
	}
	.navbar-nav > li {
		float: none;
		display: inline-block;
	}
	.navbar-nav > li > a {
		margin: 0px 6px;
	}


/*navbar animation & change color*/
.navbar {
	background: transparent;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
}
.top-nav-collapse {
	background: #222222;
}


.navbar-inverse {
	border : none;
}


/*navbar*/
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
	padding: 5px 10px;
	color: #fff;
    background-color: transparent;
    border-top: solid 2px #eee;
}
.navbar-nav > li > a {
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/*.jumbotron .about .name*/
#name h1{
	font-weight: bold;
	color: white;
	letter-spacing: 5px;
	background-color: #B4121B;
	margin: 0px;
	padding: 8px 15px;
	}
	#name h1.initial-letter {		
		padding-right: 0px;
		color: #fff;
	}
	#name h1.child-letter {
		padding-left: 0px;
	}
	#name h2 {
		color: white;	
	}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.clear-left {
	clear: left;
}


.title {
	letter-spacing: 2px;
}


/*section*/
#about {
	background-color: rgba(0, 0, 0, 0.7);
	padding-top: 72px;
	padding-bottom: 60px;
	}
	#about h1 {
		margin-top: 0px;
	}
#about-2 {
	background-color: rgba(0, 0, 0, 0.7);
	}	
	#about-2 h4 {
		color: white;
		text-align: center;
		line-height: 35px;
		padding: 60px 0px 65px 0px;
		letter-spacing: 1px;
		}
	.social {
		text-align: center;
		}
		.social-share {
			display: inline-block;
			list-style: outside none none;
			padding-left: 0px;
		}
		ul.social-share li {
			display: inline-block;
		}
		ul.social-share li a {
		    display: inline-block;
		    color: #FFF;
		    width: 50px;
		    text-align: center;
		    padding-top: 8px;
		    padding-bottom: 8px;
		}
		ul.social-share li a:hover {
			background: #FB2F3A;
			color: #fff;
		}


#portfolio{
	background-color: #EEEEEE;
	color: #404040;
	}
	#portfolio h1 {
		text-align: left;
		color: #FFFFFF;
		background-color: #B4121B;
		width: 247px;
		margin: 0px;
		padding-top: 15px;
		padding-bottom: 15px;
		padding-left: 20px;
	}
	#portfolio h5 {
		line-height: 20px;
	}
	#portfolio a{
		color: #B4121B;
	} 
	.thumb {
		padding-top: 90px;
		padding-bottom: 60px;
	}
	.pad-left {
		padding-left: 6px;
	}
	.right-col {
		padding-top: 90px;
		padding-bottom: 60px
	}
	#media {
		padding-bottom: 50px;
		}
		#media a {
			color: #B6B6B6;
		}


#resume {
	background-color: rgba(238, 238, 238, 1);;
	}
	#resume h1 {
		text-align: center;
		color: white;
		margin: auto;
		margin-top: 100px;
		padding-top: 18px;
		padding-bottom: 17px;
		width: 200px;
		background-color: #B4121B;
	}
	#resume-content {
		padding-top: 50px;
		color: #404040;
	}
	.cont-space {
		margin-bottom: 45px;
	}
	.resume-col {
		padding: 0 10px;
	}
	.inner {
			background-color: transparent;
			height: 460px;
			margin-bottom: 70px;
			padding: 60px;
		}
		.inner h4 {
			padding: 12px 0px 35px 0px;
		}
		.inner ul {
			-webkit-padding-start: 20px;
		}
		.new-line {
			margin-top: 25px;
		}


/*#contact-bg {
	background: url(../img/contact-bg.jpg) no-repeat center;
	background-size: cover;
	height: 100%;
	padding: 0px;
	margin: 0px;
}*/
#contact{
	/*background-color: rgba(64, 64, 64, 0.9);*/
	background-color: #EEEEEE;
	color: #404040;
	}
	#contact h1 {
		text-align: left;
		color: #FFFFFF;
		background-color: #B4121B;
		width: 214px;
		margin: 0px;
		margin-top: 100px;
		padding-top: 15px;
		padding-bottom: 15px;
		padding-left: 20px;
		text-transform: uppercase;
	}
	#contact h3 {
		padding-bottom: 20px;
		margin-top: 0px;
	}
#contact-content {
	padding: 70px 0px;
}
#profile-img {
	width: 100%;
}
/*end section*/


#footer {
	background-color: #222222;
	color: #B9B9B9;
	padding-top: 35px;
	padding-bottom: 35px;
	}
	#footer h4 {
		margin: 0px;
		padding-right: 11px;
	}
	.social-foot {
		display: inline-block;
		list-style: outside none none;
		padding-left: 0px;
		/*float: left;*/
	}
	ul.social-foot {
		padding-top: 25px;
		padding-bottom: 18px;
	}
	ul.social-foot li {
		display: inline-block;
	}
	ul.social-foot li a {
	    display: inline-block;
	    color: #B9B9B9;
	    width: 30px;
	    text-align: center;
	    padding: 0px;
	}
	ul.social-foot li a:hover {
		background: #FB2F3A;
		color: #fff;
	}
	#jrq-logo {
		width: 50px;
	}

